nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin-bottom: -30px;
}

.leftSide{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 75px;
}

.navLink{
    text-decoration: none;
    color: #000000;
    padding: 0 15px;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

.navLink:hover{
    color: #EB4A36;
}

.navLink.active{
    color: #EB4A36;
}

.rightSide{
    display: flex;
    align-items: center;
    width: 250px;
    margin-right: -30px;
}

.signUpBtn{
    background-color: #EB4A36;
    color: #fff;
    padding: 0px 30px;
    border-style: none;
    border-radius: 25px;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}