.recipePage{
    margin-top: 60px;
}

.recipeImg_utils{
    display: flex;
    align-items: center;
    gap: 40px;
}

.recipeImgDetails{
    max-width: 90%;
    height: 500px;
    width: 600px;
    border-radius: 20px;
}

.recipePageTitle{
    font-size: 2.7rem;
    text-transform: uppercase;
    line-height: 50px;
    margin: 0px 0px 20px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipePageDescription{
    color: #3d3d3d;
    font-size: 1rem;
    line-height: 24px;
    margin: 20px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.recipeExtraDetails{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
}

.material-icons-outlined{
    color: #393939;
    font-size: .9px;
    font-weight: 400;
}

.mealTypeTitle,
.timeTitle,
.yield{
    font-size: .9rem;
    line-height: 22px;
    margin: 10px 0px 0px;
    font-weight: 500;
}

.recipeServings,
.totalTime,
.recipeType{
    color: #3d3d3d;
    font-size: .9rem;
    line-height: 21px;
    font-weight: 400;
    text-transform: capitalize;
}

.chef_save_print{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.recipeOwner{
    color: #EB4A36;
}

.save_print{
    display: flex;
    gap: 30px;
}

.save_HoverText,
.print_HoverText{
    font-size: .8rem;
    cursor: pointer;
}

#saveBtn,
#printBtn{
    cursor: pointer;
    font-size: 1.5rem;
}

.btnIcon{
    border-style: none;
    background-color: transparent;
}

.instructions_ingridients{
    display: flex;
    gap: 40px;
    margin: 50px 30px;
}

.dataSection1{
    width: 60%;
}
.dataSection2{
    width: 40%;
}

.dataTitle{
    font-size: 1.2rem;
    line-height: 31px;
    font-weight: 600;
    margin: 0px 0px 15px;
}

.instructionsText{
    color: #3d3d3d;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ingridientsText{
    color: #3d3d3d;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}