.recipePage {
  margin-top: 60px;
}

.recipeImg_utils {
  display: flex;
  gap: 50px;
}

.recipeImgDetails {
  max-width: 100%;
  width: 650px;
  height: 300px;
  border-radius: 8px;
}

.recipePageTitle {
  font-size: 2.2rem;
  text-transform: capitalize;
  line-height: 50px;
  margin: 0px 0px 10px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

.recipePageDescription {
  color: #3d3d3d;
  font-size: 1rem;
  line-height: 24px;
  margin: 10px 0px 30px 0;
  font-family: 'Times New Roman', Times, serif;
}

.recipeExtraDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin-left: 15px;
}

.material-icons-outlined {
  color: #393939;
  font-weight: 400;
}

.mealTypeTitle,
.timeTitle,
.yield {
  font-size: 1rem;
  line-height: 22px;
  margin: 10px 0px 0px;
  font-weight: 600;
}

.recipeServings,
.totalTime,
.recipeType {
  color: #3d3d3d;
  font-size: .9rem;
  line-height: 21px;
  font-weight: 400;
  text-transform: capitalize;
}

.chef_save_print {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.recipeOwner {
  color: #eb4a36;
}

.save_print {
  display: flex;
  gap: 30px;
}

.save_HoverText,
.print_HoverText {
  cursor: pointer;
}

#saveBtn,
#printBtn {
  cursor: pointer;
  font-size: 1.5rem;
}

.btnIcon {
  border-style: none;
  background-color: transparent;
}

.instructions_ingridients {
  display: flex;
  gap: 30px;
  margin: 50px 20px 40px 0px;
  background-color: #fbfbfb;
}

.dataSection1 {
  width: 40%;
}
.dataSection2 {
  width: 60%;
}

.dataTitle {
  font-size: 1.2rem;
  line-height: 31px;
  font-weight: 600;
  margin: 0px 0px 15px;
}

ul,
ol {
  list-style-type: none;
  margin-left: 10px;
}

.instructionsText {
  color: #161616;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ingridientsText {
  color: #161616;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 800px) {
  .recipePage {
    margin-top: 8px;
  }
  .recipeImg_utils {
    display: flex;
    flex-direction: column;
  }

  .recipeImgDetails {
    max-width: 100%;
    width: 98%;
    height: 98%;
    object-fit: cover;
    object-position: center;
  }

  .recipePageTitle {
    font-size: 1.7rem;
    margin: -25px 0 -20px 0;
  }

  .recipePageDescription {
    font-size: 1.1rem;
    margin: 20px 0px;
  }

  .recipeExtraDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0px -2px;
  }

  .mealTypeTitle,
  .timeTitle,
  .yield {
    font-size: 0.9rem;
    margin: 10px 0px 0px;
  }

  .recipeServings,
  .totalTime,
  .recipeType {
    font-size: 0.9rem;
  }

  .chef_save_print {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .recipeChef,
  .recipeOwner {
    font-size: 0.9rem;
  }

  .save_print {
    display: flex;
    gap: 30px;
  }

  .save_HoverText,
  .print_HoverText {
    font-size: 0.8rem;
  }

  .instructions_ingridients {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0px;
  }

  .dataSection1 {
    width: 100%;
  }
  .dataSection2 {
    width: 100%;
  }

  .dataTitle {
    font-size: 1.1rem;
    margin: 0px 0px 5px;
  }
}

/* @media screen and (min-width: 581px) and (max-width: 780px) {
  .recipePage {
    margin-top: 8px;
  }
  .recipeImg_utils {
    display: flex;
    flex-direction: column;
  }

  .recipeImgDetails {
    max-width: 100%;
    width: auto;
  }

  .recipePageTitle {
    font-size: 1.8rem;
    margin: -25px 0 -20px 0;
  }

  .recipePageDescription {
    font-size: 1.1rem;
    margin: 20px 0px;
  }

  .recipeExtraDetails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0px -2px;
  }

  .mealTypeTitle,
  .timeTitle,
  .yield {
    font-size: 0.9rem;
    margin: 10px 0px 0px;
  }

  .recipeServings,
  .totalTime,
  .recipeType {
    font-size: 0.9rem;
  }

  .chef_save_print {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  .recipeChef,
  .recipeOwner {
    font-size: 0.9rem;
  }

  .save_print {
    display: flex;
    gap: 30px;
  }

  .save_HoverText,
  .print_HoverText {
    font-size: 0.9rem;
  }
} */
