.recipePage {
  width: 85%;
  margin: 60px auto 0 auto;
}

.recipeImg_utils {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.recipeImgDetails {
  width: 360px;
  height: 270px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin: auto;
}

.recipeDetails {
  width: 80%;
}

.recipePageTitle {
  font-size: 2rem;
  text-transform: capitalize;
  line-height: 50px;
  margin: 0px 0px 10px;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.recipePageDescription {
  color: #3d3d3d;
  font-size: 1rem;
  line-height: 24px;
  margin: 10px 0px 30px 0;
  font-family: "Times New Roman", Times, serif;
}

.recipeExtraDetails {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  margin-left: 15px;
}

.material-icons-outlined {
  color: #393939;
  font-weight: 400;
}

.mealTypeTitle,
.timeTitle,
.yield {
  font-size: 1rem;
  line-height: 22px;
  margin: 10px 0px 0px;
  font-weight: 600;
}

.recipeServings,
.totalTime,
.recipeType {
  color: #3d3d3d;
  font-size: 0.9rem;
  line-height: 21px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: "Times New Roman", Times, serif;
}

.instructions_ingridients {
  display: flex;
  gap: 30px;
  margin: 50px 20px 40px 0px;
  background-color: #fbfbfb;
}

.dataSection1 {
  width: 40%;
}
.dataSection2 {
  width: 60%;
}

.dataTitle {
  font-size: 1.2rem;
  line-height: 31px;
  font-weight: 600;
  margin: 0px 0px 15px;
}

ul,
ol {
  list-style-type: none;
  margin-left: 10px;
}

.instructionsText {
  color: #161616;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
  line-height: 20px;
}

.ingridientsText {
  color: #161616;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
}

@media screen and (max-width: 900px) {
  .recipePage {
    width: 90%;
    margin-top: 20px;
  }
  .recipeImg_utils {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .recipeImgDetails {
    max-width: 100%;
    width: 80%;
    height: 98%;
    object-fit: contain;
    object-position: center;
  }

  .recipePageTitle {
    font-size: 1.5rem;
    margin: -25px 0 -20px 0;
    line-height: 30px;
  }

  .recipePageDescription {
    font-size: 1rem;
    margin: 20px 0px;
  }

  .recipeExtraDetails {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0px -2px;
  }

  .mealTypeTitle,
  .timeTitle,
  .yield {
    font-size: .9rem;
    margin: 10px 0px 0px;
  }

  .recipeServings,
  .totalTime,
  .recipeType {
    font-size: .9rem;
  }

  div.instructions_ingridients {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 30px auto;
  }

  .dataSection1 {
    width: 100%;
  }
  .dataSection2 {
    width: 100%;
  }

  .dataTitle {
    font-size: 1.1rem;
    margin: 0px 0px 5px;
  }

  .ingridientsText,
  .instructionsText{
    font-size: 1rem;
  }
}
