.addRecipeSection{
    margin-top: 20px;
}

.pageIntro{
    padding: 8px 0;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.pageIntroRecipe{
    color: #eb4a36;
}

.instructionsSection{
    margin-top: 30px;
    padding: 20px;
    width: 70%;
    background-color: #F8F9F9;
    border: 1px solid #eb4a36;
    border-radius: 10px;
}

.instructionTitle{
    font-size: 1rem;
}

.instructions{
    margin-left: 20px;
    font-size: .8rem;
}

li{
    margin: 8px;
}

.recipeInputSection{
    margin: 20px 0px;
}

.recipeForm{
    /* color: aliceblue;
    background-color: blueviolet; */
    background-color: #F8F9F9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.recipeLabels{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    margin: 10px 0 3px 0;
}

.recipeInput{
    width: 70%;
    margin-top: 3px;
}

#recipeName,
#timeInput,
#ingridientsInput,
#servingsInput,
#imgUrl{
    padding: 5px 5px;
    margin-bottom: 5px;
    outline: transparent;
}

#instructions,
#recipeDesc{
    padding: 5px 10px;
    outline: transparent;
    
}