
.searchData {
  width: 85%;
  display: grid;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 30px auto;
}

.searchRecipeList {
  margin: 15px 0;
  padding: 0;
}

.searchImg {
  max-width: 100%;
}

.searchForm {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 10px auto 20px auto;
}

.searchInput {
  width: 100%;
  padding: 12px 12px;
  border-radius: 5px;
  outline: transparent;
  border-style: none;
  background-color: #ebe6e6;
}

.searchInput::placeholder {
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
}

.searchInput:focus {
  border: 1px solid #eb4a36;
  border-radius: 5px;
  background-color: transparent;
}

/* Breakpoint for 2 columns */
@media (min-width: 480px) {
  .searchData {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* Breakpoint for 3 columns */
@media (min-width: 750px) {
  .searchData {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Breakpoint for 4 columns */
@media (min-width: 992px) {
  .searchData {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Devices with width over 1200px */
@media (min-width: 1200px) {
  .searchData {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
