.recipeListSection {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
  */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  justify-content: center;
  margin: 30px 0;
}

.recipeImg {
  max-width: 100%;
}

.recipeList {
  display: flex;
  justify-content: center;
  margin: 15px 8px;
}

.recipeListLink {
  text-decoration: none;
  color: #000;
}

.recipeTitle {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
  text-transform: capitalize;
  line-height: 24px;
  font-weight: 500;
  margin-top: 6px;
}

.recipeImg {
  border-radius: 10px;
}

.chef {
  color: #797979;
  font-weight: 500;
  font-size: 0.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* 
@media screen and (max-width: 412px) {
  .recipeListSection {
    grid-template-columns: 1fr;
  }
  .recipeImg {
    max-width: 100%;
  }
}

@media screen and (min-width: 413px) and (max-width: 650px) {
  .recipeListSection {
    grid-template-columns: 1fr 1fr;
  }
  .recipeImg {
    max-width: 100%;
  }
}

@media screen and (min-width: 651px) and (max-width: 800px) {
  .recipeListSection {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .recipeImg {
    max-width: 100%;
  }
}

@media screen and (min-width: 801px) {
  .recipeListSection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .recipeImg {
    max-width: 100%;
  }
} */
