*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search_sort{
  width: 80%;
  margin: 0 auto;
}

.searchForm {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 10px auto 20px auto;
}

.searchInput {
  width: 100%;
  padding: 12px 12px;
  border-radius: 5px;
  outline: transparent;
  border-style: none;
  background-color: #ebe6e6;
}

.searchInput::placeholder {
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
}

.searchInput:focus {
  border: 1px solid #eb4a36;
  border-radius: 5px;
  background-color: transparent;
}

.recipeListSection {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 40px auto ;
  padding-bottom: 50px;
}


@media only screen and (max-width: 500px) {
  div.searchForm{
    width: 100%;
  }

  .searchInput{
    width: 100%;
  }

  div.recipeListSection {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;}
}

@media only screen and (max-width: 1000px) {
  .searchForm{
    width: 100%;
  }

  .searchInput{
    width: 100%;
  }

  .recipeListSection {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;}
}