
.welcomeSection{
    height: 75vh;
    margin: 20px 0 20px 0;
    background-image: url("../../images/bcg-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}

.welcomeDescription{
    color: whitesmoke;
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 62px;
    font-weight: 600;
    display: block;
}

.welcomeHeaderText{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 1.1rem;
    line-height: 24px;
    font-weight: 400;
    margin-top: 15px;
}

.sectionSignUp{
    color: whitesmoke;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    font-weight: 400;
    cursor: pointer;
    transition: transform 300ms;
    
}

.sectionSignUp:hover{
    transform: translateX(15px);
}

.signupToday{
    text-decoration: none;
    color: whitesmoke;
}