.subscriptionSection {
  height: 50vh;
  background-color: #eb4a36;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  border-radius: 30px;
}

.subscriptionText {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 39px;
}

.emailSubscription {
  width: 500px;
  margin-top: 40px;
  padding: 15px 0 15px 20px;
  border: 2px solid white;
  border-radius: 30px;
  outline: transparent;
  font-size: 0.8rem;
  background-color: transparent;
  color: whitesmoke;
}

.emailSubscription::placeholder {
  color: whitesmoke;
}

.subscriptionBtn {
  background-color: #fbc418;
  margin-left: 20px;
  padding: 15px 40px;
  outline: transparent;
  border-style: none;
  border-radius: 30px;
  cursor: pointer;
}

@media screen and (max-width: 468px) {
  .subscriptionSection {
    height: auto;
    border-radius: 10px;
  }

  .subscriptionText {
    /* text-align: center; */
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 20px;
    margin: 20px 10px;
  }

  .emailSubscription {
    width: 90%;
    padding: 8px 10px;
    margin: 0px 10px 0 10px;
    border-radius: 8px;
  }

  .emailSubscription::placeholder {
    font-size: 0.7rem;
  }

  .subscriptionBtn {
    margin-top: 15px;
    padding: 8px 8px;
    border-style: none;
    border-radius:5px;
    font-size: .8rem;
    margin: 10px auto 15px 10px;
  }
}
@media screen and (min-width : 469px) and (max-width: 780px) {
  .subscriptionSection {
    height: auto;
    border-radius: 10px;
  }

  .subscriptionForm{
    display: flex;
    align-items: center;
    margin: -10px 0px 20px 0px;
    height: auto;

  }

  .subscriptionText {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: 20px;
    margin: 20px 10px;
  }

  .emailSubscription {
    width: 90%;
    padding: 8px 10px;
    margin: 0px 10px 0px 10px;
    border-radius: 8px;
  }

  .emailSubscription::placeholder {
    color: whitesmoke;
    font-size: 0.7rem;
  }

  .subscriptionBtn {
    margin-top: 15px;
    padding: 8px 8px;
    border-style: none;
    border-radius:5px;
    font-size: .8rem;
    margin: 10px auto 15px 10px;
  }
}

